RewriteEngine on
RewriteCond %{HTTP_REFERER} !^$
RewriteCond %{HTTP_REFERER} !^https://banana-kokuouheika.github.io/copy-and-paste/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^https://banana-kokuouheika.github.io/copy-and-paste/.*$ [NC]
RewriteRule ^(.*)$ - [F]
